# Core
Django
django-unfold
djangorestframework
djangorestframework-simplejwt

# Database
psycopg2-binary

# CORS
django-cors-headers

# Environment variables
python-dotenv

# Static files
whitenoise

# Production server
gunicorn

# Optional (if using async support / websockets)
uvicorn

# Celery (only if using background tasks)
channels
celery
redis

# Utilities
requests
django_filter
pillow
stripe
django-ckeditor

# AI
openai

# PDF generation
reportlab
daphne==4.2.1
whitenoise==6.12.0

